.container {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0; /* Увеличиваем боковые отступы */
    box-sizing: border-box;
}

.container h2 {
    padding-top: 30px;
    font-size: 36px;
    text-align: center;
}

.playlist-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
    padding-top: 50px;
    list-style-type: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
    /*padding: 0;*/
}

.playlist-list a {
    text-decoration: none;
    color: black;
}
.playlist-list a:hover {
    text-decoration:underline;
    color: black;
}

.playlist-list h2 {
    font-size: 36px;
    text-align: center;
}

.playlist-list li {
    background-color: #fff;
    padding: 15px ;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Более специфичный медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .playlist-list {
        grid-template-columns: 1fr;
    }
}

/* Менее специфичный медиа-запрос для больших экранов (можно разместить в любом месте) */
@media (min-width: 768px) {
    .playlist-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}